.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.text {
  font-size: 25px;
  font-weight: 600;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px dotted var(--main-color);
  animation: circle 1.5s ease-in-out forwards infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.25);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
