* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
  flex-grow: 1;
  padding: 20px 0;
  overflow: hidden;
}

:root {
  --main-color: #708090;
}

.informational-text {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
