.container {
  background-color: #708090;
  padding: 15px 0;
  position: relative;
}

.list {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.item {
  font-size: 25px;
  font-weight: 600;
}

.item a {
  text-decoration: none;
  color: #000;
}

.item a.active {
  color: #fff;
  text-decoration: underline;
}

.exit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

.exit:hover {
  color: #fff;
}
