.container {
  height: 100%;
}

.id {
  font-size: 25px;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 10px;
  font-size: 30px;
}

.description {
  font-size: 23px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1.75px solid var(--main-color);
}
